name: iOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Cache Kotlin/Native
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}-${{ hashFiles('gradle/libs.versions.toml') }}
          restore-keys: konan-${{ runner.os }}-

      - name: Build Debug Frameworks
        run: ./gradlew linkDebugFrameworkIosSimulatorArm64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: "**/build/classes/kotlin/iosSimulatorArm64/main/"
          retention-days: 30

  test:
    name: Test
    runs-on: macOS-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true

      - name: Cache Kotlin/Native
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}-${{ hashFiles('gradle/libs.versions.toml') }}
          restore-keys: konan-${{ runner.os }}-

      - name: Run Tests
        run: ./gradlew iosSimulatorArm64Test
