name: JVM

on:
  push:
    branches: [main]
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build Debug App
        run: ./gradlew :app:composeApp:createDistributable

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: |
            app/composeApp/build/compose/binaries/main/app/
          retention-days: 30

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true

      - name: Run Tests
        run: ./gradlew jvmTest

      - name: Generate Coverage Report
        run: ./gradlew koverXmlReport koverHtmlReport

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report-jvm
          path: |
            **/build/reports/kover/
          retention-days: 30
