name: Snapshots

on:
  workflow_call:
  workflow_dispatch:

jobs:
  verify:
    name: Verify
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
          lfs: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Verify Snapshots
        run: ./gradlew :app:composeApp:verifySnapshots

      - name: Upload Diffs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: snapshot-diffs
          path: app/composeApp/build/outputs/roborazzi/
          retention-days: 7
